.channel-strip-container-scroll{
    width: 100%;
    height: 100%;
    min-height: 106px;   
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(4, 25%);
    overflow: hidden;
    animation: moveSlideshow 26s linear infinite;
    animation-play-state: running;
}

.channel-strip-container-static{
    width: 100%;
    height: 100%;
    min-height: 106px;   
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(4, 25%);
    overflow: hidden;
}

@keyframes moveSlideshow {
    100% { 
      transform: translatey(-500%);  
    }
  }


.name{
    grid-column: 1 / 2;
    background: var(--channel-bg);
    border: 1px solid var(--channel-border);
    color: var(--channel-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.block{
    background: var(--programs-bg);
    border: 1px solid var(--programs-border);
    cursor: pointer;
    padding-left: 12px;
    text-decoration: none;
    color: var(--main-text);
    display: grid;
    align-items: center;
    justify-items: start;
}

.block:hover{
    background: var(--programs-hover-bg);
    color: var(--programs-hover-text);
}

.two-to-three{
    grid-column: 2 / 3;
}

.two-to-four {
    grid-column: 2 / 4;
}

.three-to-four {
    grid-column: 3 / 4;
}

.three-to-five {
    grid-column: 3 / 5;
}

.four-to-five {
    grid-column: 4 / 5;
}

.full {
    grid-column: 2 / 5;
}

@media screen and (max-height: 723px) {
    .channel-strip-container-scroll, .channel-strip-container-static{
    min-height: 108px;   
    }
}

@media screen and (max-height: 400px) {
    .channel-strip-container-scroll, .channel-strip-container-static{
    min-height: 88px;   
    }
}