.footer-container {
    background: var(--footer-bg);
    grid-row: 3 / 4;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
    background: url("./img/hireme.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 50%;
}