*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-bg: #060644;
  --main-text: #dcfdfd;
  --logo-text: #90c6f2;
  --header-bg: #002d89;
  --info-bg: linear-gradient(#000105,#006adc);
  --timestrip-bg: #01296f;
  --channel-bg: #27a8fe;
  --channel-text: #00144e;
  --channel-border: #05389b;
  --programs-bg: #0a1528;
  --programs-border: #92ccdc;
  --programs-hover-text: #0a1528;
  --programs-hover-bg: #d3edc4;
  --footer-bg: linear-gradient(#006adc,#060e48);
}

.App {
  background: var(--base-bg);
  height: 100vh;
  width: 100%;
  color: var(--main-text);
  font-family: 'Hind', sans-serif;
}

.master-grid {
  display: grid;
  width: 90vw;
  max-width: 1060px;
  height: 100vh;
  min-height: 670px;
  background: ghostwhite;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: 37% 51% 12%;
}

@media screen and (max-height: 400px) {

  .App {
    height: 400px;
  }

  .master-grid {
    max-height: 300px;
    min-height: 300px;
    height: 300px;
    background: var(--base-bg);
    max-width: 1376px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 300px;
  }

}